.box {
    width: 200px;          
    height: 100px;          
    background-color: #3498db;
    color: #ffffff;
    padding: 20px;          
    border: 2px solid #2980b9; 
    margin: 20px;           
}

box {
    width: 500px;
    height: 150px;
    background-color: #e74c3c;
}


box {
    padding: 30px;
} 


.box {
    border: 4px dashed #c0392b;
} 


box {
    margin: 30px;
} 


.box, .box-2 {
    padding: 20px;
}
.box p, .box-2 p {
    margin: 0;
} 


.box, .box-2 {
    margin: 0 auto;
} 

.box-2 {
    width: 200px;          
    height: 100px;          
    background-color: #db3450;
    color: #ffffff;
    padding: 20px;          
    border: 2px solid #b92929; 
    margin: 20px;   
}

.box-2{
    border: 4px dashed #712bc0;
}

.box-2{
    position: absolute;
    top: 0;
    right: 80px;
}

.box-2{
    margin: 30px;
}

