@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text: #141101;
    --text-2: #fcfaf0;
    --background: #f9f5e2;
    --primary: #e1b404;
    --secondary: #136290;
}

*,
*::after,
*::before { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin-top: 100px;
    background-color: var(--background);
}

#trees-ds {
    font-weight: bold;
    font-size: 38px;
    color: var(--text);
}

.operations {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.operations button {
    background-color: var(--primary);
    color: var(--text-2);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.operations input[type="text"] {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid var(--primary);
}


.node {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: var(--secondary);
    color: var(--primary);
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    left: calc(50% - 25px); /* Set left position to center horizontally */
    top: calc(50% - 25px); /* Set top position to center vertically */
}

.line {
    position: absolute;
    border-bottom: 2px solid var(--text);
}

.line.left {
    width: 220px; 
}


.line.left {
    transform-origin: top left;
    transform: rotate(-25deg);
}

.line.right {
    transform-origin: top right;
    transform: rotate(25deg);
    width: 250px;
}

#response {
    margin: 300px;
}
