body{
  background-color: #0f0f0f;
}

#title{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color:#1d0e52;
  background-color: aliceblue;
  font-weight: bolder;
  text-decoration: underline;
  border: 2px dashed rgb(70, 139, 176);
  position: sticky;
  top: 0;
}

h2 {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color:aliceblue;
}

.flex-container-row {
    display: flex;
    flex-direction: row;
    border: 2px solid #3498db;
    margin: 20px;
    padding: 10px;
}

.flex-container-row-reverse{
  display: flex;
  flex-direction: row-reverse;
  border: 2px solid #50db34;
  margin: 20px;
  padding: 10px;
}

.flex-container-column{
  display: flex;
  flex-direction: column;
  border: 2px solid #b4db34;
  margin: 20px;
  padding: 10px;  
}

.flex-container-column-reverse{
  display: flex;
  flex-direction: column-reverse;
  border: 2px solid #db7c34;
  margin: 20px;
  padding: 10px;  
}

.flex-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e74c3c;
  color: #fff;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  width: 100px;
  height: 100px;
  margin: 10px;
}

